* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.box {
  width: 300px;
  height: 300px;
  border: 1px solid red;
  margin: 30px auto;
  position: relative;
}

.box .item {
  background: green;
  color: #fff;
  /* margin: 10px; */
  padding: 10px;
  width: 100px;
}
.item:nth-child(2) {
  background-color: blueviolet;
  /* position: relative; */
  /* top: 20px; */
  /* left: calc(100% - 100px - 10px); */
  /* left: 20px; */
  /* left: calc(100% - 100px - 10px * 2); */
  position: relative;
  bottom: 0;
  /* left: calc(50% - 50px); */
  /* width: auto; */
  top: 10px;
  right: 0;
  left: 20px;
  z-index: 2;
}
.item:nth-child(3) {
  position: relative;
  z-index: 1;
}
.overlay {
  position: absolute;
  /* top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
  inset: 0;
  background: rgba(0, 0, 0, 0.566);
}
.modal-overlay {
  background: rgba(0, 0, 0, 0.504);
  position: fixed;
  inset: 0;
}
/*
Thuộc tính position: Căn chỉnh vị trí các element trong trang web
- static: Mặc định
- relative: Vị trí tương đối với vị trí ban đầu
- absolute: vị trí tuyệt đối
- fixed: vị trí cố định khi kéo thanh cuộn (scrolling)

Thuộc tính khi sử dụng với position (trừ static)
- top : trên
- left: trái
- right : phải
- bottom: dưới 
- z-index: vị trí theo trục z
- inset: tổng hợp của top, left , right , bottom
*/
