/*
Trường hợp 1:
- 2 giá trị dương --> lấy giá trị lớn hơn
- 2 giá trị âm --> lấy giá trị nhỏ hơn
 --> Cùng dấu --> Lấy giá trị tuyệt đối giá trị lớn hơn

 - 1 giá trị âm, 1 giá trị dương --> cộng 2 giá trị
 --> Trái dấu: Cộng lại
*/
/* h2 {
  border: 1px solid red;
  margin: 0;
}
.title-1 {
  margin-bottom: -5px;
}

.title-2 {
  margin-top: -20px;
} 
Trường hợp 2: margin phần tử con, không tự động đẩy phần tử cha
 - border
 -display: inline-block | flex | inline-flex | grid
 - position: absolute | fixed
 - float: left | right
*/

.box {
  background-color: green;
  color: #fff;
  /* border: 1px solid red; */
  /* display: inline-block; */
  /* width: 100%; */
  /* display: flex; */
  /* position: absolute;
  width: 100%; */
  /* float: left;
  width: 100%; */
  width: 300px;
  padding-inline: 30px;
  padding-block: 40px;
  margin-inline: auto;
}
/* .box h2 {
  margin: 50px 0;
} */
