/* 

min-width --------------- width ---------------max-width
*/

.content {
  width: 500px;
  height: 200px;
  max-width: 400px;
  min-width: 100px;
  min-height: 50px;
  background-color: green;
}
.image {
  display: inline-block;
  width: 30%;
}
.image img {
  max-width: 100%;
  display: block;
}
